# Fraud Alert! Detecting Fraudulent Cedit Card Transactions using Machine Learning in Python
### **WORKBOOK**
---

## External dependencies - DO NOT MODIFY

## Notebook Format


*   The notebook is divided into various sections, separated by headers in a larger font size.
*   Each section will have text describing what is being done, hopefully serving both as useful instruction of what to code but also which modelling stage we are incorporating and why.
---
* **Instructions on the tasks will appear separated and in bold font at the end of each piece of text, and the corresponding solution should be written in a cell directly below.**

*   **Sometimes code will already be written in this cell either as an example or to carry out tasks that go beyond the scope of this workshop. In these cases, you should add your code in between the lines commented `#### ADD YOUR CODE HERE ####` and `##############`.**

*   **Exercise: try printing out "Hello World" in the cell below.**

## Step 1: Importing external modules

In [3]:
import pandas as pd
import numpy as np
import random
#from sklearn import

## Step 2: Download datasets



*   The first thing we need to do before we build our ML model is to download our datasets.
*   We can do this quite easily if they are in `.csv` format files (most spreadsheet type files can be converted into `.csv`)
*   We download files using the `.read_csv(filepath)` function from the Pandas library:
  *   Takes in the filepath as an argument.
  *   Outputs the dataset as a Pandas DataFrame, which is what we usually want for ML.
* The above has been done to download our training dataset in the cell below.

---

*   **The filepath for our test dataset is already saved under the variable** `test_data_file_url` **. Try downloading this dataset in the cell below and assign it to variable** `test_data` **.**

In [5]:

data = pd.read_csv("creditcard_reduced.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0
2,10,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,121.50,0
3,18,1.166616,0.502120,-0.067300,2.261569,0.428804,0.089474,0.241147,0.138082,-0.989162,...,0.018702,-0.061972,-0.103855,-0.370415,0.603200,0.108556,-0.040521,-0.011418,2.28,0
4,33,-0.607877,1.031345,1.740450,1.232106,0.418592,0.119168,0.850893,-0.176267,-0.243501,...,-0.087329,0.258315,-0.264775,0.118282,0.173508,-0.217041,0.094312,-0.033041,14.80,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47467 entries, 0 to 47466
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    47467 non-null  int64
 1   V1      47467 non-null  float64
 2   V2      47467 non-null  float64
 3   V3      47467 non-null  float64
 4   V4      47467 non-null  float64
 5   V5      47467 non-null  float64
 6   V6      47467 non-null  float64
 7   V7      47467 non-null  float64
 8   V8      47467 non-null  float64
 9   V9      47467 non-null  float64
 10  V10     47467 non-null  float64
 11  V11     47467 non-null  float64
 12  V12     47467 non-null  float64
 13  V13     47467 non-null  float64
 14  V14     47467 non-null  float64
 15  V15     47467 non-null  float64
 16  V16     47467 non-null  float64
 17  V17     47467 non-null  float64
 18  V18     47467 non-null  float64
 19  V19     47467 non-null  float64
 20  V20     47467 non-null  float64
 21  V21     47467 non-null  float64
 22  V22     47467 non-null  float64
 23  V23     47467 non-null  float64
 24  V24     47467 non-null  float64
 25  V25     47467 non-null  float64
 26  V26     47467 non-null  float64
 27  V27     47467 non-null  float64
 28  V28     47467 non-null  float64
 29  Amount  47467 non-null  float64
 30  Class   47467 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 11.2 MB

## Step 3: Construct target vector and feature matrix

## Step 4: Construct and fit our models